language: python
python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"
  
# install dependencies
install:
  - pip install -r requirements.txt
  
# command to run tests
script:
  - python -m unittest discover -p 'test_*.py'

after_success:
  - pip install python-coveralls;
  - pip install coverage codecov
  - coveralls
  - codecov
  - pip install sphinx
  - cd /docs
  - docs/make html
  - touch docs/build/html/.nojekyll

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
  local_dir: docs/build/html/
