include README.rst
include LICENSE
include VERSION
include requirements.txt
recursive-include gptables/examples *.csv *.py
recursive-include gptables/theme_pickles *.pickle
recursive-include gptables/themes *.yaml
recursive-include gptables/test test*.py